{% extends "main.html" %}

{% block content %}
<br>
<div class="list-group">
  <a href="/{{ current_user.username }}" class="list-group-item list-group-item-action">Профиль</a>
  <a href="/{{ current_user.username }}/edit_profile" class="list-group-item list-group-item-action">Редактировать информацию</a>
  <a href="#" class="list-group-item list-group-item-action">Мои листы</a>
  <a href="#" class="list-group-item list-group-item-action">Настройки</a>
  <a href="#" class="list-group-item list-group-item-action">Создать новый лист</a>
</div>
{% endblock %}