<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ current_user.username }}</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/main.css')}}">
</head>
<body>
<nav class="navbar">
{% if current_user.is_authenticated %}
    <div class="navbar_text">Инфраструктурные<br>листы</div>
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    ≡
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button"><a href="/" class="href">Главная</a></button>
    <button class="dropdown-item" type="button"><a href="/{{ current_user.username }}" class="href">Ваш профиль</a></button>
    <button class="dropdown-item" type="button"><a href="/faq" class="href">Обратная связь</a></button>
    <button class="dropdown-item" type="button"><a href="/logout" class="href">Выйти</a></button>
  </div>
</div>
{% else %}
    <div class="navbar_text">Инфраструктурные<br>листы</div>
   <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    ≡
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button"><a href="/" class="href">Главная</a></button>
    <button class="dropdown-item" type="button"><a href="/faq" class="href">Обратная связь</a></button>
    <button class="dropdown-item" type="button"><a href="/register" class="href">Зарегистрироваться</a></button>
    <button class="dropdown-item" type="button"><a href="/login" class="href">Войти</a></button>
  </div>
</div>
{% endif %}
</nav>
{% block content %}
{% endblock %}
</body>
</html>